<header class="px-10 py-5 flex justify-between shadow-md">
    <div>Tipo o Pinterest</div>
    <nav>
        <ul class="flex gap-5">
            <li><a href="/" class="font-bold">Home</a></li>
            <li><a href="/publish" class="font-bold">Publish</a></li>
            <li><a href="/auth/signout" class="font-bold">Sair</a></li>
        </ul>
    </nav>
</header>